In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./links.csv')

In [3]:
data.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
imdbid = data['imdbId']

In [7]:
imdbid.head()

0    114709
1    113497
2    113228
3    114885
4    113041
Name: imdbId, dtype: int64

In [11]:
pd.notnull(imdbid).all()

True